# Cấu hình khởi tạo Postgres Container
POSTGRES_USER=billing_user
POSTGRES_PASSWORD=StrongPassword123
POSTGRES_DB=billing_db

EXPORTER_USER=postgres_exporter
EXPORTER_PASSWORD=ExporterStrongPass123!

# Cấu hình khởi tạo pgAdmin Container
PGADMIN_DEFAULT_EMAIL=admin@billing.com
PGADMIN_DEFAULT_PASSWORD=AdminStrongPassword123!

# Cấu hình khởi tạo Grafana Container
GF_SECURITY_ADMIN_PASSWORD=GrafanaStrongPass123!
GF_SERVER_ROOT_URL=https://192.168.152.132/grafana/

# Chuỗi kết nối Database cho Backend
DATABASE_URL=postgresql+psycopg2://billing_user:StrongPassword123@postgres:5432/billing_db

# Bảo mật Prometheus
PROMETHEUS_AUTH_USER=promadmin
PROMETHEUS_AUTH_PASS=PrometheusStrongPass123!

# Cấu hình Bảo mật JWT (Đồng bộ tên biến)
SECRET_KEY=your_super_secret_jwt_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Cấu hình CORS Origins (Phân cách bằng dấu phẩy)
CORS_ORIGINS=http://localhost:5173,http://localhost:80

# Cấu hình Email SMTP
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False